html, body {
    height: 100%;
    background-color: rgb(41, 41, 41);
    margin: 0%;
    overflow-x: hidden;
}

.system{
    height: 800%;
    display: grid;
    grid-template-rows: 77.6482401% 0.2722151% 0.6751827% 0.7115524% 0.3789814% 7.9759023% 6.7237128% 2.8514531% 2.7627601%;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 1%;
    margin: 0%;
    justify-items: center;
    justify-content: center;
    margin-top: -200%;
}

.planet{
    border-radius: 50%; /* 将每个行星变成圆形 */
}

.planet:hover{
    
}

#Solar{
    background-color: #f0450c;
    transition: transform 0.3s ease;
}

#Solar:hover{
    transform: scale(1.005);
}

#Mercury{
    background-color: #FE975D;
    transition: transform 0.3s ease;
}

#Mercury:hover{
    transform: scale(1.2);
}

#Venus{
    background-color: #CF4418;
    transition: transform 0.3s ease;
}

#Venus:hover{
    transform: scale(1.1);
}

#Earth{
    background-color: #2590C7;
    transition: transform 0.3s ease;
}

#Earth:hover{
    transform: scale(1.1);
}

#Mars{
    background-color: #F6935C;
    transition: transform 0.3s ease;
}

#Mars:hover{
    transform: scale(1.1);
}

#Jupiter{
    background-color: #A51B00;
    transition: transform 0.3s ease;
}

#Jupiter:hover{
    transform: scale(1.02);
}

#Saturn{
    background-color: #FA8F2D;
    transition: transform 0.3s ease;
}

#Saturn:hover{
    transform: scale(1.02);
}

#Uranus{
    background-color: #63D7D4;
    transition: transform 0.3s ease;
}

#Uranus:hover{
    transform: scale(1.05);
}

#Neptune{
    background-color: #2B669E;
    transition: transform 0.3s ease;
}

#Neptune:hover{
    transform: scale(1.05);
}

@-webkit-keyframes vibrate-3 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    10% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    20% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    30% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    50% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    70% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    80% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    90% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes vibrate-3 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    10% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    20% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    30% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    50% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    70% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    80% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    90% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  