body{
    background-color: #dbdbdb;
    user-select: none;
}

#title{
    user-select: none;
}

.window{
    position: absolute;
    margin: 0px !important;
    left: 30%;
    top: 30%;
}

#mainWindow2{
    position: absolute;
    margin: 0px !important;
    left: 5%;
    top: 10%;
}

#mainWindow3{
    position: absolute;
    margin: 0px !important;
    left: 65%;
    top: 15%;
}

#mainWindow4{
    position: absolute;
    margin: 0px !important;
    left: 35%;
    top: 55%;
}

#tree{
    margin: 10px -5px 10px -5px;
}